<div class="card">
  <div class="card-header">
    <h2>{{employee.firstName}} {{employee.lastName}}</h2>
  </div>
  <div class="card-body">
    <div class='table-responsive'>
      <table class='table'>
        <tbody>
          <tr>
            <th scope="row">Employee Code</th>
            <td>{{employee.empcode}}</td>
          </tr>
          <tr>
            <th scope="row">First Name</th>
            <input type='text' class="form-control" [(ngModel)]='employee.firstName'>
          </tr>
          <tr>
            <th scope="row">Last Name</th>
            <input type='text' class="form-control" [(ngModel)]='employee.lastName'>
          </tr>
          <tr>
            <th scope="row">Login Name</th>
            <input type='text' class="form-control" [(ngModel)]='employee.loginName'>
          </tr>
          <tr>
            <th scope="row">Designation</th>
            <input type='text' class="form-control" [(ngModel)]='employee.designation'>
          </tr>
          <tr class="form-group">
            <th scope="row">Date of Joining</th>
            <input type='text' class="form-control" [(ngModel)]='employee.doj'>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <a class="btn btn-primary" style="margin-right: 15px" (click)='onBack()'>Back</a>
      <a class="btn btn-dark" (click)='onUpdate(employee)'>Update</a>
    </div>
  </div>
</div>
